
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style/signup.css">
        <title>Document</title>
    </head>
    <body>
        <div id="main">
            <div id="left">
                <div>
                <img src="https://www.landmarkgroup.com/qa/sites/default/files/Brand-logo/New%20Max%20Logo-%20Eng%20With%20Outline_1.png" alt="wait">
                </div>
               <div>
                <h1></h1>
                <h3></h3>
               </div> 
                   <p></p>
               
            </div>
            <div id="right">
                <div id="header">
                    <div>
                        <h1>Join Max</h1>
                        <h4>
                            Already have an account? 
                            <a rel="nofollow" href="Login.html">Login</a>
                        </h4>
                    </div>
                </div>
               <div id="bottom"> 
                <button class="loginBtn loginBtn--facebook">
                    Join Using Facebook
                  </button>
                  <h4 class="p2">OR</h4>
                  <form action="" id="myForm">
          
                    <div id="labl"> 
                        <div class="fstlst">
  
                            <label for="fname">First name</label>
                            <input type="text" id="fname" name="firstname"  >
                        </div>
                        <div class="fstlst">
                            <label for="lastname">Last name</label>
                            <input type="text" id="lname" name="firstname" >
                        </div>
                        </div>
                        <div id="one">
                            <label for="lastname">Email</label>
                            <input type="text" id="email" name="email" >
                        </div>
                        <div id="two">
                            <label for="Username">Username</label>
                            <input type="text" id="userName" name="userName"  >
                        </div>
                        <div id="three">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" >
                        </div>
                        <div id="four">
                            <input type="submit" value="Join">
                        </div>
                        <div class="bnt">
                            <h6>By joining, you agree to the <a href="#">Terms</a> and <a href="/privacy">Privacy Policy</a>.</h6>
                          </div>
                  </form>
                  
               </div>
            </div>
        </div>
    </body>
    </html>

<script src="./scripts/signup.js">
   
</script>