* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body{
    color: #000000;
    margin: 0;
    font-size: 14px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 400;
    line-height: 1.43;
    background-color: #FFFFFF;
} */
/* div{
    display: block;
} */
.main_four_category {
    min-height: 300px;
}

.four_count {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    max-width: 1276px;
   
}

.four_count01 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.four_count02 {
    line-height: 0;
}

.four_count03 {
    /* flex-grow: 1; */
    max-width: 400px;
    flex-basis: 0;
}

.four_count04 {
    margin: 0;
    box-sizing: border-box;
}

.cate_1_m {
    width: 100%;
    position: relative;
    min-height: 400px;
}

.cate_1_m>img {
    height: 500px;
    width: 300px;

}
@media (min-width:600px) and (max-width:1200px) {
    .cate_1_m>img {
        height: 350px;
        width: 200px;
    }
}
.category_1_m01 {
    width: 100%;
    bottom: 24px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.category_btn1 {
    height: 56px;
}

.category_btn3 {
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.category_btn2 {
    color: #303AB2;
    background-color: #FFF;
}

.category_btn4 {
    width: 100%;
    padding: 6px 16px;
    font-size: 15px;
    min-width: 64px;
    font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    border-radius: 2px;
    text-transform: uppercase;
}

.category_btn5 {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-weight: 600;
}

