* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#searchTitle,
#elementFind {
  width: 80%;
  margin: auto;
  padding: 20px;
}
#operationFuncDiv {
  display: flex;

  width: 80%;
  justify-content: space-evenly;
  background-color: rgba(232, 229, 225, 0.792);
  margin: auto;
  padding: 30px;
}
#operationFuncDiv img {
  width: 15px;
}
#sizeFuncDiv,
#colourFuncDiv,
#extraFuncDiv {
  background-color: white;
  border: 0.3px solid gray;
  position: relative;
  cursor: pointer;
}
.sizeFuncBtn,
.colorFuncBtn {
  display: flex;
  justify-content: space-between;
  width: 150px;
  /* border: 1px solid red; */
  color: rgb(185, 153, 153);
  font-weight: 500;
  padding: 10px;
  /* font-size: 20px; */
}
.sizeFuncRes {
  display: none;
  position: absolute;
  width: 140%;
  border: 0.2px solid gray;
  left: 0px;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
  z-index: 50;
}
.colorFuncRes {
  display: none;
  position: absolute;
  width: 140%;
  border: 0.2px solid gray;
  left: 0px;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
  z-index: 50;
}
.tagFuncRes {
  display: none;
  position: absolute;
  width: 140%;
  border: 0.2px solid gray;
  left: 0px;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
  z-index: 50;
}
.sizeFuncRes > p,
.colorFuncRes > p {
  margin: 5px 10px;
  padding: 5px;
}
.colorFuncRes > p:hover {
  background-color: bisque;
}
.sizeFuncRes > p:hover {
  background-color: bisque;
}
.sizeFuncRes > p > span,
.colorFuncRes > p > span {
  font-size: 12px;
  color: gray;
  margin-left: 2px;
}
#elementFind {
  color: green;
  font-weight: 600;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}
.productDiv {
  position: relative;

  z-index: auto;
}
.product {
  display: block;
  position: relative;
  overflow: hidden;
}
.product img {
  width: 100%;
}
.addToFavorate {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.addToFavorate > a > img {
  width: 30px;
  margin-top: 2px;
}
.slider {
  width: 100%;
  display: inline-flex;
  cursor: pointer;
}
.leftArrow {
  display: none;
  position: absolute;
  left: 1em;
  top: 125px;

  z-index: 11;
}

.leftArrow > img,
.rightArrow > img {
  width: 20px;
  cursor: pointer;
}
.rightArrow {
  display: none;
  position: absolute;
  right: 1rem;

  top: 120px;

  z-index: 11;
}

.newTitleDiv {
  position: absolute;
  left: 1rem;

  top: 14rem;
  padding: 0.5em 1em;
  border-radius: 2px;

  z-index: 11;
  background-color: white;
  font-size: 12px;
  font-weight: 700;
}
.onlineDiv {
  position: absolute;
  right: 1rem;
  top: 14rem;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: white;
  z-index: 12;
  font-size: 12px;
  font-weight: 700;
}
.priceDiv {
  display: flex;
  gap: 2px;
  align-items: center;
  margin: 10px 5px;
}
.priceDiv > span {
  font-size: 10px;
}
.priceDiv + p {
  color: rgba(9, 8, 8, 0.716);
  font-size: 14px;
  margin: 5px;
}

/* disabled box */
.disableBox {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 22;
  width: 100%;
  right: 0.1px;
  background-color: white;
  padding: 0px 15px 20px 15px;
}
.productDetail {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  gap: 10px;
  margin: 10px 0px;
  height: 50px;
}
.productColor,
.ProductSize {
  position: relative;
  display: inline-block;
  width: 50%;
}
.colorBtn {
  border: 0.3px solid rgb(173, 173, 236);
  height: 100%;
}
.colorBtn,
.insideColorDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
}
.ColorDiv {
}
.insideColorDiv {
  color: grey;
  margin: 5px 0px;
}
.insideColorDiv:hover {
  background-color: rgba(210, 203, 203, 0.845);
}
.sizeDiv > p:hover {
  background-color: rgba(210, 203, 203, 0.845);
}

.colorBtn > img:first-child,
.insideColorDiv > img {
  width: 30px;
}
.colorDiv,
.sizeDiv {
  display: none;
  position: absolute;
  background-color: white;

  width: 100%;

  bottom: 50px;

  z-index: 1;
}

.sizeBtnDiv {
  display: flex;
  justify-content: space-around;
  border: 0.3px solid rgb(173, 173, 236);
  padding: 1em 1em;
  align-items: center;
  color: rgba(128, 128, 128, 0.704);

  height: 100%;
}
.sizeBtnDiv img,
.colorBtn > img:last-child {
  width: 10px;

  /* align-items: flex-end; */
}

.sizeDiv > p {
  margin: 10px;
  padding: 10px 20px;
}
.addBasketBtn {
  position: relative;
  background-color: rgba(21, 21, 216, 0.94);
  padding: 13px 2em;
  text-align: center;
  font-weight: 600;
  color: white;
}
